
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form method="POST" class="form-register">
          {{ contactform.hidden_tag() }}

          <div class="form-group">
            {{ contactform.name.label() }}
            {{ contactform.name(class="form-control", placeholder="Enter the Contact  Name") }}
          </div>

          
          <div class="form-group">
            {{ contactform.email_address.label() }}
            {{ contactform.email_address(class="form-control", placeholder="Enter the Email Address") }}
          </div>

          
          <div class="form-group">
            {{ contactform.contact_no.label() }}
            {{ contactform.contact_no(class="form-control", placeholder="Enter the Mobile Number") }}
          </div>

          <div class="form-group">
            {{ contactform.role.label() }}
            {{ contactform.role(class="form-control", placeholder="Enter Contact's Role") }}
          </div>
    
          
         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{ contactform.submit(class="btn btn-primary") }}
          </div>
        </form>

        

      </div>

    </div>
  </div>
  <style>
    .modal-content {
      background-color: #212121
    }
  </style>

</div>