
<div class="modal fade" id="deletedelaymodal" tabindex="-1" role="dialog" aria-labelledby="deletedelaymodal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>This Action is irreversable!!<p>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a class="btn btn-outline-danger" href="{{url_for('delete',id=delay.id)}}" role="button">Delete</a>
          </div>
        

        

      </div>

    </div>
  </div>s
  <style>
    .modal-content {
      background-color: #212121
    }
  </style>

</div>