
<div class="modal fade" id="TaskEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form method="POST" class="form-register">
          {{ taskform.hidden_tag() }}

          <div class="form-group">
            {{ taskform.Name.label() }}
            {{ taskform.Name(class="form-control", placeholder="Enter the Task Name") }}
          </div>

          
          <div class="form-group">
            {{ taskform.Description.label() }}
            {{ taskform.Description(class="form-control", placeholder="Enter the Task description") }}
          </div>

          
          <div class="form-group">
            {{ taskform.phase.label() }}
            {{ taskform.phase(class="form-control", placeholder="Enter the phase") }}
          </div>

          <div class="form-group">
            {{ taskform.percentage.label() }}
            {{ taskform.percentage(class="form-control", placeholder="Enter Task weight in percentage") }}
          </div>
    
          
          <div class="form-group">
            {{ taskform.start_date.label() }}
            {{taskform.start_date(class= "form-control")}}
          </div>

          <div class="form-group">
            {{ taskform.end_date.label() }}
            {{taskform.end_date(class= "form-control")}}
          </div>

          <div class="form-group">
            {{ taskform.total_estimated_cost.label() }}
            {{ taskform.total_estimated_cost(class="form-control", placeholder="Enter the estimated cost") }}
          </div>

          <br>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{ taskform.submit(class="btn btn-primary") }}
          </div>
        </form>

        

      </div>

    </div>
  </div>
  <style>
    .modal-content {
      background-color: #212121
    }
  </style>

</div>