{% extends 'base.html' %}

{% block title%}
Consultant Submitted WIR Documents
{%endblock%}
  {% block content%}

  <h3>Documents submitted by the consultant</h3>
  <br><br>
  <br><br>

  {% for wir in fileNamelist %}
  {% if wir.wir_id == passed_wir_id %}

  <div class="card" style="width: 18rem;background-color:#212121;">
    <div class="card-body">
      <h5 class="card-title">{{wir.wir_file_name}}</h5>
      <img src="/static/icons/doc_icon.png" alt="User Image" width="70" height="70">
     
      <br><br>
      <a class="btn btn-outline-primary" href="{{url_for('downloadconsultantwir',wir_name=wir.wir_file_name)}}" role="button">Download File</a>
    </div>
  </div>

   {% endif %}
 {% endfor %}
 

  {% endblock %}