{% extends 'base.html' %}


{% block title%}
Delays
{%endblock%}


{% block content%}




<div class="row" style="margin-top:20px;margin-left:20px">
    <div class="col-11">
        <h3>EOT Documents Approved</h3>
        <p>View all EOT documents that are approved</p>
        <br>
        <iframe src="https://drive.google.com/embeddedfolderview?id=1e0UdlvEN5s0hLUJbXsC9DgVtfYRn5_Q7#grid"
            style="width:100%; height:600px; border:0;">To Be Approved</iframe>
    </div>
</div>









{% endblock %}