{% extends 'base.html' %}

{% block title%}
Python Flask Upload and display image
{%endblock%}



  {% block content%}

 

    
   
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for task in taskref %}
        {% if task.task_id == taskid %}
        <div class="carousel-item active">
          <img class="d-block w-100" src="/static/uploads/{{task.img_name}}" alt="First slide" width="700" height="500">
        </div>
        {% endif %}
        {% endfor%}
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
     
   


    
   

    

  
 
 
  {% endblock %}