{% extends 'base.html' %}


{% block title%}
Material Inspections requests
{%endblock%}


{% block content%}







{% include 'includes/mirmodal.html' %}
{% include 'includes/miruploadmodal.html' %}
<div class="row" style="margin-top:20px;margin-left:30px">
    <div class="col-2">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Submitted MIRs</h5>
                <p class="card-text" style="text-align:center;">some number</p>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Approved </h5>
                <p class="card-text" style="text-align:center;">some number</p>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">mirs Reported</h5>
                <p class="card-text" style="text-align:center;">some number</p>
            </div>
        </div>
    </div>

</div>



<div class="row" style="margin-top:20px;margin-left:30px">
    <div class="col-11">
        <h3>Material Inspection Requests</h3>
        <p>Reporting and Managing MIR</p>
        <br>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#MIRCreateModal"
            data-whatever="@mdo">Create a New Record</button>
        

            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#MIRUploadModal"
            data-whatever="@mdo">Submit mir Document</button>

            
            <a href="{{url_for('PDFPage')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="false" target="_blank">Print report</a>
            <a href="{{url_for('PDFPageEmail')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="false" target="_blank">Email report to Stakeholders</a>
            

           
        <br><br><br>


        <table id="dtBasicExample" class="table table-striped table-dark" cellspacing="0" width="100%">



            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">MIR Name</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Status</th>
                    <th scope="col">Submiited Date?</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->

                {% for mir in mir_list %}
     

                    <tr>
                    <td>{{mir.id}}</td>
                    <td>{{mir.name}}</td>
                    <td width="20%">{{mir.description}}</td>

                    <!-- Change Badge color based on mir Deverity -->
                    {% if 'Submitted' in mir.status %}
                    <td><span class="badge badge-pill badge-info">{{mir.status}}</span></td>
                    {% endif %}
                    {% if 'Rejected' in mir.status %}
                    <td><span class="badge badge-pill badge-danger">{{mir.status}}</span></td>
                    {% endif %}
                    {% if 'Revise-And-ReSubmit' in mir.status %}
                    <td><span class="badge badge-pill badge-warning">{{mir.status}}</span></td>
                    {% endif %}
                    {% if 'Approved!' in mir.status %}
                    <td><span class="badge badge-pill badge-info">{{mir.status}}</span></td>
                    {% endif %}
                    {% if 'Approved-As-Noted' in mir.status %}
                    <td><span class="badge badge-pill badge-warning">{{mir.status}}</span></td>
                    {% endif %}
                 
                    <td>{{mir.submitted_date}}</td>
                    
                    <td>

                        <div class="btn-group">
                            
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu">
                                {% with passed_id = mir.id  %}
                                <a class="dropdown-item" href="{{url_for('mir_submitted_page',passed_id=mir.id)}}">View Submitted Document</a>
                                <a class="dropdown-item" href="/MIRSubmitted/{{passed_id}}?status=approved">View Submitted Document</a>
                                
                        {% endwith %}
                                
                        </div>



                    </td>


                   
                </tr>
                
                {% endfor %}
            </tbody>
        </table>


    </div>


</div>

</div>

{% endblock %}