<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <meta name="description" content="This is an example of a meta description.">
    <link rel="stylesheet" type="text/css" href="theme.css">
    
    <div style="margin-top:20px;margin-left:20px">
        <h3>Construction Project Report</h3>
        
        <h5>Reported delays</h5>
        <p>Pending EOTS : {{pending_delays}}</p>
        <p>Approved EOTS : {{approved_delays}}</p>
        <p>Delays Reported so far : {{delay_count}}</p>


    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
		
  </body>
</html>